.light-theme {
  background-color: #fff;
  color: #000;
}
.light-theme .toolbar {
  background-color: #fff;
}
.light-theme .dropbtn,
.light-theme .dropdown-content,
.light-theme button {
  background-color: #fff;
  color: #555;
}
.light-theme .toolbar button:hover {
  background-color: rgb(240, 240, 240);
}
